.pokemonGrid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(190px, 1fr));

  gap: 22px;
}

.pokemonMessage {
  padding: 50px 20px;

  color: var(--white);

  text-align: center;

  font-size: 18px;
}

.pokemonMessage.error {
  color: #ffd6d6;
}

@media (max-width: 768px) {

  .pokemonSection {
    padding-top: 145px;
  }

  .pokemonGrid {
    grid-template-columns:
      repeat(auto-fill, minmax(150px, 1fr));

    gap: 16px;
  }
}

@media (max-width: 480px) {

  .pokemonSection {
    padding-left: 12px;
    padding-right: 12px;
  }

  .pokemonGrid {
    grid-template-columns:
      repeat(2, minmax(0, 1fr));

    gap: 12px;
  }
}
